.main {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 100px var(--padding-x);
  text-align: center;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 32px;
  color: var(--foreground);
}

.description {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--text-muted);
}

.cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
}

.cardYellow,
.cardRed {
    width: 571px;
    height: 551px;
    border-radius: 57px;
}

.cardYellow {
    background-color: var(--cnu-yellow);
}

.cardRed {
    background-color: var(--cnu-coral);
}